{% extends "base.html" %}
{% block content %}
    <div>
        <div class="padding-left-right-25vh padding-top-35vh text-align-center" id='search-tag'>
            <span class="font-size-30px font-serif">Let's begin your search</span>
        </div>

        <div class="input-group padding-left-right-45vh" id='search-bar'>
            <input type="text" class="form-control search-input" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary background-black color-white search-partners-btn" type="button" id="button-addon2">Search</button>
            </div>
        </div>
    </div>
{% endblock %}
